body { background: #e71eed; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 13px; display: flex; }
.block-auth-0 { color: #13b668; font-size: 21px; margin-bottom: 5px; }
.block-token-1 { color: #48141; font-size: 19px; margin-bottom: 5px; }
.block-logger-2 { color: #d783e8; font-size: 16px; margin-bottom: 5px; }
.block-auth-3 { color: #8ff491; font-size: 16px; margin-bottom: 5px; }
.block-shipping-4 { color: #d361b3; font-size: 12px; margin-bottom: 5px; }